
/* Reset */

body { margin:0; padding:0; font-size:100%; line-height:1; }

/*Media -Small*/

@media screen and (max-width: 400px) {
    .container {
        margin: 5px;

    }
    #small-skip, .nav-item {
        display: block;
        width: 100%;
        height: 40px;
        margin: 20px 0;
        border: 1px solid grey;
        background-color: lightblue;
        text-align: center;
        line-height: 40px;
    }
    aside {
        clear: both;
        max-width: inherit;
    }
    footer {
        width: 100%;
        display: inline-block;
        font-size: 10px;
        justify-content: center;
    }
    .hero img {
        width: 100%;
    }
    ul {
        padding: 0;
    }
    h1 {
        text-align: center;
    }
    .footer-nav li {
        float: right;
        list-style-type: none;
        padding: 3px;
        display: inline-block;
    }
    footer {
        float: left;
        display: inline-block;
        vertical-align: text-bottom;
    }
    .sm {
        line-height: 0;

    }
    span {
        line-height: 0;
        margin: auto;
        display: inline-block;
    }
    p {
        padding-bottom: 10px;
    }

}

/*Media-Large*/

@media screen and (min-width: 400px) {
    #small-skip {
        display: none;
    }

    .container {
        margin: 30px;
    }

    header {
        padding: 20px;
        margin-bottom: 30px;
    }

    h1 {
        width: 60%;
        padding: 0;
        margin: 0;
        border: 0;
        float: left;
    }

    .nav-item {
        float: right;

    }

    ul > li {
        display: inline-block;
    }

    a {
        list-style-type: none;
        padding: 5px;
        line-height: 15px;
    }

    section.hero {
        clear: both;
        width: 100%;
    }

    .hero img {
        width: 100%;
    }

    html {
        position: relative;
    }

    main {
        float: left;
        width: 65%;
        margin-right: 5%;
    }

    aside {
        float: left;
        width: 30%;
    }

    footer {
        clear: left;
    }

    .footer-nav {
        float: right;
    }
}