/* Reset */

body { margin:0; padding:0; font-size:100%; line-height:1; }

body {
    background-color: #2aabd2;
}

#effects {
    background-size: cover;
    z-index: 0;
    width: 100%;
    height: 100%;
}
#header {
    text-align: center;
    font-size: 5em;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    z-index: 1;
    color: whitesmoke;
    background-color: black;
    height: 60px;
    padding-top: 6px;
    font-family: 'Lora', serif;
}

#cityInfo {
    color: coral;
    font-family: 'Lora', serif;
}

.weather {
    border: 2px solid black;
    padding-top: 5px;
    height: 350px;
    width: 30%;
    margin-left: 35px;
    text-align: center;
    font-size: 2.5em;
    align-content: center;
    background-color: black;
    color: whitesmoke;
    font-family: 'Open Sans Condensed', sans-serif;
}

#temp {
    font-size: 3em;
}

#google-map {
    margin-top: 30px;
    width: 80%;
    height: 500px;
    border: 4px solid black;
    margin-left: 129px;
    margin-bottom: 100px;
}